<% flash.each do |key, value| %>
<div class="container">
  <div class="alert <%= key == 'notice' ? 'alert-primary' : 'alert-danger' %>" role="alert">
    <span type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </span>
    <%= value %>
  </div>
</div>
<% end %>
